.offthewall {
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 15px;
  padding-right:15px;
}

.darkbackground {
  background-color: #666666;
}
.Headline_Img {
  Float: Right;
  margin: 25px;
  width: 120px;
  height: 150px;
}
@media screen and (max-width: 768px) {
  .Headline_Img {
    Width: 60px;
    height: 75px;
  }   
}

.jumbotron-top-margin-add {
  margin-top: 30px;
}

.headline_text_color {
  color: #7e7e7e;
}

#timklaus {
  color: #7e7e7e;
}

.center-text {
  text-align: center;
  font-style: normal;
}

.klausorange {
  color: #F26522;
}
.panel-grey {
  border-color: #7e7e7e;
}
.panel-grey > .panel-heading {
  color: #F26522;
  background-color: lightgrey;
  border-color: #7e7e7e;